.ProfileTweet-action--favorite .ProfileTweet-actionButton:hover,
.ProfileTweet-action--favorite .ProfileTweet-actionButton:focus,
.ProfileTweet-action--favorite .ProfileTweet-actionCount:hover,
.ProfileTweet-action--favorite .ProfileTweet-actionCount:focus,
.favorited .ProfileTweet-action--favorite .Icon--heart,
.favorited .ProfileTweet-action--favorite .ProfileTweet-actionButtonUndo,
.Icon--colorHeart,
.Icon--circleActiveHeart,
.Icon--heartBadge {
    color: #ffac33 !important;
}

.HeartAnimation {
    background: none !important;
    position: relative !important;
    height: inherit !important;
    width: inherit !important;
    left: inherit !important;
    top: inherit !important;
}

.HeartAnimation:before, .Icon--heartBadge:before {
    display: block;
    font-family: "rosettaicons";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    content: "\f147" !important;
}
